In [1]:
import pandas as pd

In [31]:
returns = pd.read_csv('Portfolios_Formed_on_ME_monthly_EW.csv',header=0,index_col=0,parse_dates=True,na_values=-99.99)
returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [35]:
returns = returns[['Lo 20', 'Hi 20']]/100
returns

         Lo 20   Hi 20
192607 -0.0057  0.0333
192608  0.0384  0.0233
192609 -0.0048 -0.0009
192610 -0.0329 -0.0295
192611 -0.0055  0.0316
...        ...     ...
201808  0.0309  0.0249
201809 -0.0204  0.0019
201810 -0.1052 -0.0741
201811 -0.0278  0.0249
201812 -0.1477 -0.0921

[1110 rows x 2 columns]

In [36]:
import numpy as np

In [44]:
shape_returns = returns.shape[0]
shape_returns

1110

In [49]:
annualized_returns = (1+returns).prod()**(12/shape_returns) - 1
annualized_returns

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

In [54]:
annualized_volatility = returns.agg(np.std)*np.sqrt(12)
annualized_volatility

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

In [55]:
returns.loc['1999':'2015']

         Lo 20   Hi 20
199901  0.1114  0.0153
199902 -0.0399 -0.0172
199903 -0.0308  0.0368
199904  0.0824  0.0679
199905  0.0435 -0.0048
...        ...     ...
201408  0.0313  0.0422
201409 -0.0504 -0.0192
201410  0.0143  0.0227
201411 -0.0117  0.0241
201412  0.0267 -0.0021

[192 rows x 2 columns]

In [58]:
period = returns.loc['1999':'2016']
num_month = period.shape[0]
num_month

204

In [59]:
selected_annualized_returns = (1+period).prod()**(12/num_month) - 1
selected_annualized_returns

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [60]:
period_ann_vol = period.std()*np.sqrt(12)
period_ann_vol

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

In [61]:
import edhec_risk_kit as erk

In [82]:
period.index = pd.to_datetime(period.index,format = '%Y%m')
period.index = period.index.to_period('M')
drawdowns = erk.drawdown(period['Lo 20'])
drawdowns['Drawdown']

1999-01    0.000000
1999-02   -0.039900
1999-03   -0.069471
1999-04    0.000000
1999-05    0.000000
             ...
2015-08   -0.113764
2015-09   -0.167825
2015-10   -0.135786
2015-11   -0.121526
2015-12   -0.165450
Freq: M, Name: Drawdown, Length: 204, dtype: float64

In [83]:
max_drawdown = -drawdowns['Drawdown'].min()
max_drawdown

0.6248092431236988

In [88]:
max_loc = drawdowns['Drawdown'].idxmin()
max_loc

Period('2009-02', 'M')

In [91]:
drawdowns_L = erk.drawdown(period['Hi 20'])
max_drawdown_L = -drawdowns_L['Drawdown'].min()
max_drawdown_L_loc = drawdowns_L['Drawdown'].idxmin()

In [92]:
max_drawdown_L

0.5527349978713653

In [93]:
max_drawdown_L_loc

Period('2009-02', 'M')

In [99]:
hedges = pd.read_csv('edhec-hedgefundindices.csv',header = 0,index_col = 0, parse_dates=True)
hedges.index = pd.to_datetime(hedges.index, format= '%Y%m')
hedges.index = hedges.index.to_period('M')
hedges = hedges.loc['2009':'2018']/100
hedges

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [106]:
erk.semideviation(hedges).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

In [104]:
erk.semideviation(hedges).idxmax()

'Short Selling'

In [107]:
erk.semideviation(hedges).idxmin()

'Fixed Income Arbitrage'

In [108]:
erk.skewness(hedges).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [109]:
erk.skewness(hedges).idxmin()

'Equity Market Neutral'

In [110]:
erk.kurtosis(hedges).sort_values()

CTA Global                2.591087
Merger Arbitrage          2.715238
Global Macro              3.164362
Distressed Securities     3.319725
Event Driven              3.620617
Funds Of Funds            3.816132
Long/Short Equity         4.115713
Short Selling             4.175832
Emerging Markets          4.401636
Relative Value            4.512482
Equity Market Neutral     5.071677
Fixed Income Arbitrage    6.406941
Convertible Arbitrage     6.775731
dtype: float64

In [111]:
erk.kurtosis(hedges).idxmax()

'Convertible Arbitrage'